body{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25%;
}

header img{
    width: 5vw;
}


.right a{
    text-decoration: none;
    padding: 2%;
    color: blueviolet;
    font-size: 1.5vw;
}

.right {
    width: 40vw;
}

img.mains-img {
    width: 100%;
}

.main{
    position: relative;
}

.inputs{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 18%;
}

.inputs p{
    font-size: 4vw;
    color: white;
}

.inputs input{
    width: 29vw;
    border: none;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.3vw;
}

.shade {
    background-color: #8a2be282;
    position: absolute;
    top: 0;
    height: 57vw;
    width: 100%;
}

img.search {
    width: 2vw;
    position: absolute;
    top: 13.3vw;
    right: 36vw;
}



.wonder{
    text-align: center;
}

.wonder p{
    font-size: 2vw;
}

.wonder img {
    width: 6vw;
    margin-bottom:2%;
}

.category {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    text-align: center;
}
.cat p{
    font-size: 1.2vw;
    
}

.cat img{
    width: 15vw;
    
}


.tourist{
    text-align: center;
    font-size: 2vw;
}

.tourist img{
    width: 6vw;
    margin-bottom: 2%;
    
}

.tour {
    box-shadow: 2px 2.5px 4px gray;
    
}

.tour-images {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1%;
    margin-bottom: 4%;
}

.tour p{
    font-size: 1.5vw;
}

.tour img{
    width: 100%;
}

#like{
    position: absolute;
    top: 1%;
    right: 2%;
    width: 2vw;
    border: none;

}

.tour {
    width: 90%;
    position: relative;
    margin-left: 5%;
    
}


.discover{
    position: relative;
    margin-top: 11%;
}


.shade1 {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.508);
    top: 0;
    height: 35vw;
    width: 100%;
}

img.dis {
    width: 100%;
    vertical-align: bottom;
}



.in {
    position: absolute;
    top: 2%;
    color: white;
    text-align: center;
    left: 43%;
    font-size: 1.6vw;
}

.video-play{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 10vw;
}

.video-play {
    position: absolute;
    top: 34%;
    left: 29%;
    width: 45vw;
}

.discount {
    position: relative;
    

}

.int {
    position: absolute;
    top: 20%;
    text-align: center;
}


.shade2 {
    position: absolute;
    background-color: rgba(186, 88, 186, 0.514);
    top: 0;
    height: 24.4vw;
    width: 100%;
}

.int {
    position: absolute;
    top: 6%;
    text-align: center;
    left: 40%;
    font-size: 1.5vw;
    color: white;
}

.inpu {
    display: flex;
    position: absolute;
    top: 48%;
    left: 39%;
    gap: 1%;
}

.inpu input {
    width: 19vw;
    font-size: 1vw;
    border: none;
    border-radius: 8px;
    padding: 4%;
    opacity: 0.5;
}

.inpu button{
    width: 6vw;
    border: none;
    border-radius: 8px;
    font-size: 1vw;
    padding: 4%;
}

img.sub {
    width: 100%;
    vertical-align: bottom;
}

.map img{
    width: 100%;
    vertical-align: bottom;
}

footer {
    background-color: black;
}

.comm{
    display: flex;
    color: white;
    justify-content: space-around;
}


.links a{
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}

.links h4{
    font-size: 1.6vw;
}

.add h4{
    font-size: 1.6vw;
}

.add p{
    font-size: 1.3vw;
}

.subs p{
    font-size: 1.6vw;
}

.ins input{
    width: 13vw;
    font-size: 1vw;
    border: none;
    border-radius: 3px;
    padding: 4%;
}

.ins button{
    width: 3vw;
    font-size: 1vw;
    padding: 3%;
    border: none;
    border-radius: 3px;
    background-color: purple;
}

.ins {
    display: flex;
    gap: 1%;
}


.bot {
    text-align: center;
    color: white;
    font-size: 1.3vw;
}

.index {
    position: absolute;
    top: 31vw;
    left: 13%;
}


.index .cancel{
    position: absolute;
    width: 2vw;
    right: 2vw;
    top: 1vw;
}

img.statue {
    width: 74vw;
}

.index h5{
    position: absolute;
    font-size: 1.8vw;
    bottom: 3vw;
    color: white;
    left: 30vw;
}

.boat img{
    width: 100%;
}

.boat{
    position: relative;
}

.boats {
    display: flex;
    position: absolute;
    bottom: 6%;
    gap: 1%;
    right: 7%;
}


.boats img {
    width: 14vw;
    border-radius: 10px;
}

.text {
    font-size: 2.6vw;
    margin: 1% 4% 4% 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.map {
    position: relative;
}

img.location {
    position: absolute;
    width: 8vw;
    top: 22%;
    left: 46%;
}